<div class="container">
  <button type="button" class="btn btn-dark" type="button" (click)="filterByRecent()">Recent</button>
  <button class="btn btn-dark" type="button" (click)="filterByTop()">Top</button>
    <button class="btn btn-dark" type="button">Popular</button>
  </div>
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div *ngFor="let post of posts; let i = index">
            <div class="card clickable" [routerLink]="['/viewpost', post.id]">
              <div class="card-body">
                <h6 class="card-title"><i class="fas fa-user-circle"></i>&nbsp;{{post.author}}</h6>
                <h4 class="card-title card-subtitle mb-2">
                  {{post.title}}</h4>
                <p class="card-text">{{post.description}}</p>
                <i class="card-icon far fa-thumbs-up"></i>
                <i class="card-icon far fa-comment"></i>
                <i class="card-icon far fa-bookmark"></i>
              </div>
            </div>
          </div>
          <div class="card" style="margin-top: 15px;margin-bottom: 14px;"></div>
        <div class="col-md-2">
        </div>
      </div>
      </div>
    </div>
  </div>