<div class="col">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"><i class="fas fa-user-circle"></i>&nbsp;Harry Sisson</h6>
                        <h4 class="card-title card-subtitle mb-2">
                            Making Public Schools More Like Private Schools To Stop the Bleeding</h4>
                        <p class="card-text">Basically the 'if you can't beat em join' em method.Do you think things like making it easier to 
                                expel students, the reintroduction of alternative schools for kids that act out and kids with disablities that make them unable to 
                                behave would help a lot? Basically, removing many of the competitive advantages that private schools possess in order to make public 
                                schools more competitive. From what I've seen having decent % of middle class and above parents that are very involved in their children's
                                 education is a great help to a school and they have options.As a person who thinks public schooling is needed for strong democracies I'm
                                  curious if things like that can help public schools from being the place kids only go if theirs no other choice.</p>
                                  <i class="card-icon far fa-thumbs-up"></i>
                            <i class="card-icon far fa-comment"></i>
                            <i class="card-icon far fa-bookmark"></i>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;margin-bottom: 14px;"></div>
            </div>
            <div class="col-md-2 visible" style="margin-top: 6px;">
            </div>
        </div>
    </div>
  </div>
