<div class="container d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div *ngIf="post">
          <h6 class="card-title"><i class="fas fa-user-circle"></i>&nbsp;{{post.author}}</h6>
          <h4 class="card-title card-subtitle mb-2">{{post.title}}</h4>
          <p class="card-text">{{post.description}}</p>
          <i class="card-icon far fa-thumbs-up"></i>
          <i class="card-icon far fa-comment"></i>
          <i class="card-icon far fa-bookmark"></i>
        </div>
        <div *ngIf="!post">
          <h5>Post not found</h5>
        </div>
      </div>
    </div>
  </div>
</div>
