<div class="container d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div *ngIf="forumpost.id !== ''">
          <h6 class="card-title"><i class="fas fa-user-circle"></i>&nbsp;{{forumpost.author}}</h6>
          <h4 class="card-title card-subtitle mb-2">{{forumpost.title}}</h4>
          <p class="card-text">{{forumpost.description}}</p>
          <i class="card-icon far fa-thumbs-up"></i>
          <i class="card-icon far fa-comment"></i>
          <i class="card-icon far fa-bookmark"></i>
        </div>
        <div *ngIf="forumpost.id === ''">
          <h5>No Post found</h5>
        </div>
      </div>
    </div>

    <div class="comment-form">
      <form *ngIf="forumpost.id !== ''" (ngSubmit)="submitComment()" #myForm="ngForm">
        <div class="comment-form-user">
          <h6 class="card-title"><i class="fas fa-user-circle"></i></h6>
        </div>
        <div class="comment-form-description">
          <label for="description">Description:</label>
          <textarea id="description" name="description" [(ngModel)]="commentData.description" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Comment</button>
      </form>
    </div>
    
    <app-comment-list *ngIf="forumpost.id !== ''" [forumpostId]="forumpost.id"></app-comment-list>

  </div>
</div>

