<div class="col">
  <div class="container">
    <div class="row">
      <form class="user-form" (submit)="createNewPost()">
        <h2>Create a Post</h2>
        <div class="form-group">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="postTitle" [ngModelOptions]="{ standalone: true }" placeholder="Enter title" maxlength="200" required>
        </div>
  
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="anonymousNo" [(ngModel)]="postAnonymously" [ngModelOptions]="{ standalone: true }" value="false">
          <label class="form-check-label" for="anonymousNo">Post Anonymously</label>
        </div>
  
        <div class="form-group">
          <label for="description" class="form-label">Description:</label>
          <textarea class="form-control" id="description" [(ngModel)]="postDescription" [ngModelOptions]="{ standalone: true }" rows="5" placeholder="Enter description" required></textarea>
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
