<div class="container">
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="postTitle" [ngModelOptions]="{ standalone: true }" (input)="handleTitleChange($event)" placeholder="Enter title" maxlength="200" required>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="anonymousNo" [(ngModel)]="postAnonymously" [ngModelOptions]="{ standalone: true }" (change)="handleAnonymousChange($event)" value="false">
          <label class="form-check-label" for="anonymousNo">is Anonymous</label>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" [(ngModel)]="postDescription" [ngModelOptions]="{ standalone: true }" (input)="handleDescriptionChange($event)" rows="3" placeholder="Enter description" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="createNewPost()">Submit</button>
    </form>
  </div>
  