<div class="col">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-card-container">
          <h3>Profile Info</h3>
          <div class="user-card">
            <div class="user-image">
              <img [src]="account.imageUrl" alt="User Image">
            </div>
            <div class="user-details">
              <h2>{{ account.username }}</h2>
              <div class="user-info">
                <p><strong>Full Name:</strong> {{ account.fname }} {{ account.lname }}</p>
                <p><strong>Email:</strong> {{ account.email }}</p>
                <p><strong>Department:</strong> {{ account.department }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 15px;margin-bottom: 14px;"></div>
      </div>
    </div>
  </div>
</div>
