.hr
{
   width: 100px;
  color:black
}
.navbar{
    background-image: linear-gradient(to right,#EFEFBB,#D4D3DD);
}

    .container {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        margin: 5px;
    }

    @media (min-width: 576px) {
        .btn {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    @media (min-width: 768px) {
        .btn {
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    @media (min-width: 992px) {
        .btn {
            margin-left: 80px;
            margin-right: 80px;
        }
    }

