<div class="col">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1>Content Policy</h1>
  
            <p>Our forum app ("App") has certain content policies that all users must adhere to when using our platform. By accessing and using the App, you agree to comply with the following guidelines:</p>
            <br/>
            <h5>1. Respectful and Inclusive Behavior</h5>
            <p>Users are expected to engage in respectful and inclusive behavior when participating in discussions, posting content, or interacting with other users on the App. Any form of harassment, hate speech, discrimination, or personal attacks will not be tolerated.</p>
            <br/>
            <h5>2. Appropriate Content</h5>
            <p>Users should ensure that any content they post on the App is appropriate and relevant to the forum's topic. Content that is offensive, defamatory, obscene, pornographic, or violates any laws or regulations is strictly prohibited.</p>
            <br/>
            <h5>3. Intellectual Property</h5>
            <p>Users must respect intellectual property rights and should not post or share any content that infringes upon the copyrights, trademarks, or other proprietary rights of others.</p>
            <br/>
            <h5>4. Spam and Advertising</h5>
            <p>Users are not allowed to engage in spamming or use the App for advertising purposes without prior authorization. This includes promoting products, services, or websites unrelated to the forum's topic.</p>
            <br/>
            <h5>5. Moderation and Enforcement</h5>
            <p>The App reserves the right to moderate and enforce these content policies. We may remove or modify any content that violates these guidelines, suspend or terminate user accounts, and take any necessary actions to maintain a safe and positive environment for all users.</p>
            <br/>
            <h5>6. Reporting Violations</h5>
            <p>If you come across any content that violates these content policies, please report it to our moderation team by using the provided reporting mechanisms within the App.</p>
            <br/>
            <h5>7. Changes to This Content Policy</h5>
            <p>We reserve the right to update or modify this Content Policy at any time. Users are encouraged to review this page periodically to stay informed about the current guidelines.</p>
            <br/>
            <h5>Contacting Us</h5>
            <p>If you have any questions or concerns about this Content Policy, please contact us at [info@universe.edu].</p>
        </div>
      </div>
    </div>>
</div>